body { font-family: 'Noto Sans JP', sans-serif; }

.kv {
  background-image: url(../img/kv_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
  mix-blend-mode: multiply;
  position: relative;

  @media (max-width: 1150px) {
    height: 800px;
  }

  @media (max-width: 1000px) {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../img/kv_bg_water.png);
    background-position: right;
    background-size: contain;
    mix-blend-mode: lighten;
    width: 100%;
    height: 100%;
  }

  .kv_water {
    background-image: url(../img/kv_bg_water.png);
    height: 900px;
    mix-blend-mode: screen;
  }

  .kv_flex {
    padding: 120px 80px;
    display: flex;
    justify-content: space-between;

    .kv_contents {
      h1 {
        img {
          width: 425px;
          height: 30px;
        }

        @media (max-width: 1200px) {
          width: 340px;
          height: 24px;
        }
      }

      .kv_contents_catchcopy {
        position: relative;
        margin-top: 226px;

        img {
          width: 747px;
          height: 119px;
          position: absolute;

          @media (max-width: 1400px) {
            width: 600px;
          }

          @media (max-width: 1200px) {
            width: 448px;
            height: 100px;
          }
        }

        &::before {
          position: absolute;
          content: "";
          background-image: url(../img/kv_catchcopy_infinity.png);
          background-size: cover;
          mix-blend-mode: overlay;
          top: -74px;
          left: 92px;
          opacity: 0.7;
          width: 563px;
          height: 268px;

          @media (max-width: 1400px) {
            width: 450px;
            height: 214px;
            top: -49px;
            left: 78px;
          }

          @media (max-width: 1200px) {
            width: 337px;
            height: 160px;
            top: -31px;
            left: 62px;
          }
        }
      }

      .kv_contents_text {
        margin-top: 443px;
        letter-spacing: 0.1em;
        color: #FFF;
        text-shadow: 0 0 8px rgba(2, 0, 102, 0.6);
        width: 747px;
        font-size: 24px;
        font-weight: 500;

        @media (max-width: 1400px) {
          width: 600px;
        }
        @media (max-width: 1200px) {
          width: 448px;
          font-size: 20px;
        }

        .kv_contents_text_first_line {
          position: relative;
          top: 1px;
          right: -1px;
        }
        .kv_contents_text_first_line_fi {
          letter-spacing: 0.02em;
        }
      }
    }
  }
}

#WebGL-output {
  transform: rotate(17deg);
  position: absolute;
  display: block;
  width: 542px;
  height: 867px;
  top: 44px;
  right: 66px;

  @media (max-width: 1300px) {
    width: 433px;
    height: 693px;
    top: 98px;
    right: 112px;
  }

  @media (max-width: 1150px) {
    width: 325px;
    height: 520px;
    top: 163px;
    right: 128px;
  }
}

.kv_mobile {
  display: none;
  padding-bottom: 3px;
  background-image: url(../img/kv_bg_mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  @media (max-width: 1000px) {
    display: block;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../img/kv_bg_water_mobile.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 50% 550px;
    top: 9px;
    mix-blend-mode: lighten;
    opacity: 0.9;
    pointer-events: none;

    @media (max-width: 850px) {
      background-size: 60% 550px;
    }

    @media (max-width: 700px) {
      background-size: 70% 550px;
    }

    @media (max-width: 600px) {
      background-size: 80% 550px;
    }

    @media (max-width: 500px) {
      background-size: 375px 407px;
      top: 64px;
    }
  }

  .kv_mobile_contents {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    width: 100%;
  }

  .kv_mobile_contents h1 img {
    width: 100%;
    max-width: 670px;
    margin-top: 40px;
    height: auto;
    display: block;

    @media (max-width: 800px) {
      max-width: 536px;
    }

    @media (max-width: 600px) {
      max-width: 360px;
    }

    @media (max-width: 400px) {
      width: 100%;
      max-width: 336px;
    }
  }

  #WebGL-output-mobile {
    position: relative;
    transform: rotate(17deg);
    top: 17px;
    left: 9px;
    width: 237px;
    height: 327px;
    display: block;
    margin: 8px auto 0;

    @media (max-width: 400px) {
      width: 237px;
      height: 327px;
      top: 17px;
      left: 9px;
    }
  }

  .kv_mobile_contents_catchcopy {
    position: relative;
    margin-top: 14px;
  }

  .kv_mobile_contents_catchcopy {
  img {
    width: 100%;
    max-width: 670px;
    height: auto;
    margin: 10px 0;
    position: relative;
    display: block;
    z-index: 10;

    @media (max-width: 800px) {
      max-width: 536px;
    }

    @media (max-width: 600px) {
      max-width: 360px;
    }

    @media (max-width: 400px) {
      margin: 0;
      width: 100%;
      max-width: 335px;
    }
  }
    &::before {
      position: absolute;
      content: "";
      background-image: url(../img/kv_catchcopy_infinity.png);
      background-size: cover;
      mix-blend-mode: overlay;
      opacity: 0.7;
      top: -33px;
      right: 115px;
      width: 437px;
      height: 206px;

      @media (max-width: 800px) {
        width: 350px;
        height: 167px;
        top: -27px;
        right: 87px;
      }

      @media (max-width: 600px) {
        width: 263px;
        height: 125px;
        top: -20px;
        right: 48px;
      }

      @media (max-width: 400px) {
        width: 252px;
        height: 120px;
        top: -33px;
        right: 42px;
      }
    }
  }
  .kv_mobile_contents_text {
    padding: 0 19px;
    margin: 33px 0 45px;
    width: 80%;
    text-align: left;
    font-size: 18px;
    text-shadow: 0 0 8px rgba(2, 0, 102, 0.6);
    font-weight: 400;
    line-height: 1.46;
    letter-spacing: 0.1em;
    color: #FFF;
    position: relative;
    left: 1px;

    @media (max-width: 400px) {
      width: 100%;
    }

    .kv_mobile_contents_text_first_line {
      position: relative;
      letter-spacing: 0.11em;
      top: 1px;
      left: 1px;

      .kv_mobile_contents_text_first_line_fi {
        letter-spacing: 0.02em;
      }
    }
  }
}

.kinds {
  color: #fff;
  background: #000;
  padding: 70px 0 120px;
  position: relative;
  z-index: -3;

  @media (max-width: 600px) {
    padding: 35px 0 60px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/kinds_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.16;
    mix-blend-mode: hard-light;
    z-index: -2;

    @media (max-width: 600px) {
      background-image: url(../img/kinds_bg_mobile.png);
      background-size: contain;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.16);
    z-index: -1;
  }

  .wrapper {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .kinds_content {
    display: flex;
    justify-content: space-between;
  }

  .kinds_title {
    margin-top: 50px;
    height: 690px;
    position: sticky;
    top: 50px;

    @media (max-width: 600px) {
      margin-top: 25px;
      padding-left: 1px;
      height: 378px;
      top: 25px;
    }

    img {
      width: 48px;
      height: 680px;

      @media (max-width: 600px) {
        width: 26px;
        height: 368px;
      }
    }
  }

  .kinds_list {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 20px;

    @media (max-width: 600px) {
      gap: 10px;
    }

    .kinds_item {
      padding-top: 50px;
      display: flex;
      justify-content: center;
  
      @media (max-width: 600px) {
        padding-top: 25px;
      }

      .kinds_item_title {
        padding-top: 4px;
        padding-right: 32px;
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.8s ease, transform 0.8s ease;

        @media (max-width: 400px) {
          padding-top: 2px;
          padding-right: 21px;
        }
  
        img {
          width: 246px;

          @media (max-width: 600px) {
            width: 200px;
          }

          @media (max-width: 400px) {
            width: 37px;
            height: 446px;
          }
        }
      }
      .kinds_item_title.is-visible {
        opacity: 1;
        transform: translateY(0);
      }
  
      .kinds_item_info {
        align-items: center;
        width: 642px;

        @media (max-width: 1050px) {
          width: 550px;
        }

        @media (max-width: 800px) {
          width: 400px;
        }

        @media (max-width: 600px) {
          margin-right: 2px;
          width: 240px;
        }
      }
  
      .kinds_item_can_container {
        align-items: center;
      }
  
      .kinds_item_can {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
  
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-size: contain;
          background-repeat: no-repeat;
          mix-blend-mode: difference;
          z-index: -2;
        }
        
        &.kinds_item_mixed_berry_triangle::before {
          background-image: url(../img/kinds_mixed_berry_triangle.png);
        }
  
        &.kinds_item_green_fusion_triangle::before {
          background-image: url(../img/kinds_green_fusion_triangle.png);
        }
  
        &.kinds_item_hot_blaze_triangle::before {
          background-image: url(../img/kinds_hot_blaze_triangle.png);
        }
  
        img {
          width: 199px;
          height: 540px;
          margin-top: 88px;

          @media (max-width: 1050px) {
            width: 150px;
            height: 410px;
          }

          @media (max-width: 800px) {
            width: 100px;
            height: 270px;
          }

          @media (max-width: 600px) {
            width: 70px;
            height: 190px;
            margin-top: 36px;
          }
        }
      }
  
      .kinds_item_details {
        padding-top: 43px;
        display: flex;
        flex-direction: column;

        @media (max-width: 600px) {
          padding-top: 21px;
        }
  
        .kinds_item_details_name {
          padding-left: 4px;
          font-size: 42px;
          font-weight: 500;
          letter-spacing: 0.1em;
          color: #fff;

          .mobile_line_break {
            display: none;
          }

          @media (max-width: 600px) {
            font-size: 26px;
            line-height: 1.52;
            position: relative;
            top: -1px;

            .mobile_line_break {
              display: block;
            }
          }
        }
  
        .kinds_item_details_description {
          margin-top: 25px;
          font-size: 24px;
          font-weight: 400;
          letter-spacing: 0.1em;
          line-height: 1.55;
          text-align: left;
          color: #fff;

          .mobile_line_break {
            display: none;
          }

          @media (max-width: 600px) {
            font-size: 18px;
            margin-top: 6px;

            .mobile_line_break {
              display: block;
            }
          }
        }
  
        .kinds_item_details_buttons {
          margin-top: 50px;
          display: flex;
          justify-content: space-between;

          @media (max-width: 1050px) {
            align-items: center;
            gap: 20px;
            flex-direction: column;
          }

          @media (max-width: 600px) {
            margin-top: 6px;
            gap: 0px;
            flex-direction: column;
          }
        }
  
        .kinds_item_details_btn {
          width: 300px;
          height: 60px;
          border: none;
          border-radius: 10px;

          @media (max-width: 600px) {
            margin-top: 20px;
            width: 240px;
            height: 50px;
            border-radius: 6px;
          }
          
          .kinds_item_details_btn_text {
            position: relative;
            top: -1px;
            left: 1px;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.1em;
            color: #fff;
            text-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);

            @media (max-width: 600px) {
              font-size: 16px;
            }
          }
          
          &.mixed_berry_btn {
            background: linear-gradient(135deg, #128FCD, #B3D6E0, #DC24B1);
          }
          &.green_fusion_btn {
            background: linear-gradient(90deg, #03B10F 1%, #3CFFB9 30%, #E7F91B 50%);
          }
          &.hot_blaze_btn {
            background: linear-gradient(90deg, #B00202 1%, #FF8A00 30%, #E83A54 50%);
          }
        }
      }
    }

    .kinds_item:nth-child(2) {
      margin-top: 50px;
      justify-content: space-between;

      @media (max-width: 600px) {
        margin-top: 25px;
      }

      .kinds_item_title {
        position: relative;
        left: 18px;

        @media (max-width: 600px) {
          left: 10px;
        }

        img {
          width: 223px;

          @media (max-width: 600px) {
            width: 200px;
          }

          @media (max-width: 400px) {
            width: 28px;
            height: 437px;
          }
        }
      }
      .kinds_item_info {
        margin-right: 0px;
      }

      .kinds_item_can_container {

        @media (max-width: 600px) {
          position: relative;
          top: -1px;
          left: -1px;
        }
      }

      .kinds_item_details_name {
        padding-left: 0px;

        @media (max-width: 600px) {
          line-height: 1.54;
          padding-left: 1px;
          position: relative;
          top: -2px;
        }
      }

      .kinds_item_details_description {

        @media (max-width: 600px) {
          position: relative;
          top: -2px;
          left: -1px;
        }
      }

        
      .kinds_item_details_buttons {
          margin-top: 51px;

          @media (max-width: 600px) {
            margin-top: 3px;
            position: relative;
            right: 1px;
          }
      }
    }

    .kinds_item:nth-child(3) {
      margin-top: 49px;
      padding-top: 50px;
      justify-content: space-between;

      @media (max-width: 600px) {
        margin-top: 25px;
        padding-top: 25px;
      }

      .kinds_item_title {
        position: relative;
        left: 18px;

        @media (max-width: 600px) {
          left: 9px;
        }

        img {
          width: 227px;

          @media (max-width: 600px) {
            width: 200px;
          }

          @media (max-width: 400px) {
              width: 28px;
              height: 397px;
          }
        }
      }

      .kinds_item_can_container {
        @media (max-width: 600px) {
          position: relative;
          top: 0px;
          left: 1px;
        }
      }

      .kinds_item_can {
        
        img {
          @media (max-width: 600px) {
            position: relative;
            top: -1px;
          }
        }
      }

      .kinds_item_details_name {
        letter-spacing: 0.02em;

        @media (max-width: 600px) {
          letter-spacing: 0.1em;
        }
      }

      .kinds_item_details_description {

        @media (max-width: 600px) {
          top: -1px;
          line-height: 1.53;
        }
      }

      .kinds_item_details_buttons {
        margin-top: 50px;

        @media (max-width: 600px) {
          margin-top: 7px;
          position: relative;
          top: 0px;
          left: 1px;
        }
      }
    }
  }
}